# Byte-compiled / optimized / DLL files
__pycache__/
./__pycache__
../../__pycache__
../../../__pycache__
*.py[cod]
*$py.class
*.html
*.json
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
my_rag_db
../my_rag_db
../../my_rag_db
./my_rag_db
uv.lock
../uv.lock
./uv.lock
../../uv.lock
../../../uv.lock
# Virtual environments
.env
./.env
../.env
../../.env
../../../.env
.venv
./.venv
../.venv
../../.venv
../../../.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.
